table{
  border-collapse: collapse;
}

.gastos{
  background-color: rgb(238, 236, 130);
}

.rosa{
  background-color: rgb(255, 183, 82,0.3);
}

.verde{
  background-color: greenyellow;
}

.vacio{
  padding: 0px 30px;
}